ul[id^=catalog-feed-items] {
  margin: 0;
  padding: 0;
  li {
    margin-left: 0;
    margin-bottom: 0.5em;
    vertical-align: top;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    .new-additions-title {
      display: inline-block;
      line-height: 1.2;
      margin-top: .25em;
    }
    .new-additions-author {
      line-height: 1.2;
      margin-bottom: 0.5em;
    }

    &.placeholder {
      list-style: none;
    }

    /* Thumb placeholder spots that are confirmed not going to be able to be filled. */
    &.placeholder-empty {
       /* Hide empty placeholders but keep display by default for flex layout */
      visibility: hidden !important;

      /* In viewport widths that'd show 2x2 thumbs... we do need to remove the bottom */
      /* two placeholders if they're both empty, so we don't get a big empty row */
      @media (max-width: 607px), (min-width:768px) and (max-width:991px) {
        & + .placeholder-empty { display: none; }
      }
    }

  }
  img {
    max-width: 100%;
  }

  &.new-additions-with-thumb {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 10px 3.5%;
    @include media-breakpoint-up(sm) {
      gap: 10px 1.88%;
    }
    
    li {
      box-sizing: border-box;
      width: 31%;

      @include media-breakpoint-up(sm) {
        width: 23.58%;
        // 4 items
      }

      @include media-breakpoint-up(md) {
        width: 18.49%;
        // 5 items
      }
      @include media-breakpoint-up(lg) {
        width: 18.49%;
        // 5 items
      }
      @include media-breakpoint-up(xl) {
        width: 12.67%;
        // 7 items
      }

      &.placeholder {
        .new-additions-thumb-skeleton {
          min-height: 225px;
          background: #fafafa;
          margin-bottom: 0.5em;
        }
        .new-additions-title-skeleton {
          height: 1em;
          background: #eee;
          margin-bottom: 0.5em;
        }
        .new-additions-author-skeleton {
          height: 1em;
          background: #eee;
        }

        // show only first 3 items
        &:nth-child(-n+3) {
          display: block;
        }
        &:nth-child(n+4) {
          display: none;
        }

        @include media-breakpoint-up(sm) {
          // show only first 4 items
          &:nth-child(-n+4) {
            display: block;
          }
          &:nth-child(n+5) {
            display: none;
          }
        }

        @include media-breakpoint-up(md) {
          // show only first 5 items
          &:nth-child(-n+5) {
            display: block;
          }
          &:nth-child(n+6) {
            display: none;
          }
        }
        @include media-breakpoint-up(lg) {
          // show only first 5 items
          &:nth-child(-n+5) {
            display: block;
          }
          &:nth-child(n+6) {
            display: none;
          }
        }
        @include media-breakpoint-up(xl) {
          // show all 7 items
          &:nth-child(-n+7) {
            display: block;
          }
        }


        /* animate placeholders */
        @media screen and (prefers-reduced-motion: no-preference) {
          cursor: progress; 
          animation: skeleton-loading 1s linear infinite alternate;

          &:nth-of-type(2) {
            animation-delay: 0.25s;
          }
          &:nth-of-type(3) {
            animation-delay: 0.5s;
          }
          &:nth-of-type(4) {
            animation-delay: 0.75s;
          }
          &:nth-of-type(5) {
            animation-delay: 1s;
          }
          &:nth-of-type(6) {
            animation-delay: 1.25s;
          }
          &:nth-of-type(7) {
            animation-delay: 1.5s;
          }

        }

        @keyframes skeleton-loading {  
          0% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }
      }

    }
    &.single-row {
      display: flex !important;
      flex-wrap: nowrap !important;
      overflow-x: hidden;
      li {
        flex: 1 1 134.5px;
      }
    }
  }

  &.smaller-thumbs {
    li {
      width: 105px;
    }
    .new-additions-title {
      font-size: 14px;
    }
    .new-additions-author {
      font-size: 13px;
    }
  }
  /* Hide any remaining items after the data-showitems value (up to 20) */
  @for $i from 1 to 20 {
    &[data-showitems="#{$i}"] li:nth-of-type(n+#{$i + 1}) { display: none; }
  }

}
