<div {{ attributes.addClass('dul-2col-9-3') }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 col-md-8">
        <div {{ region_attributes.column1 }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div {{ region_attributes.column2 }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>
</div>
