// Alerts
// -----------------------------------------------------------------------------

// Bootstrap 4 does a pretty good job of handling alert colors based on theme
// variables. Here are just a few small local revisions for DUL.

.alert {
  border-left-width: 0.75em;
  .close {
    opacity: 0.6;
  }
}
