// Buttons
// -----------------------------------------------------------------------------

// Note that Bootstrap 4 handles a lot of button styling natively
// including toggling light/dark text for accessibility. However
// it doesn't always get to 4.5:1 contrast ratio, so sometimes
// it needs a little help.
//
// This file includes some extensions and local button styles.

// ==============================
// Button Extensions for A11Y
// ==============================

.btn-success, .btn-warning {
  &:hover {
    color: $black;
  }
}

.btn-primary:hover {
  background-color: shade($primary, 45%);
  border-color: shade($primary, 50%);
}

.btn-outline-secondary {
  color: $gray-600;
  border-color: $gray-300;
}

.btn-outline-warning {
  color: shade($warning, 46.3%);
}

.btn-outline-success {
  color: shade($success, 31%);
}

.btn-outline-light {
  color: $gray-light;
  border-color: $gray-200;
}
