// Figures
// -----------------------------------------------------------------------------

/* DUL revisions to "figure" classes applied by Media Library          */
/* Note: Media library wraps images in <figure class="figure-caption"> */
/* if [x] Caption is checked, then renders the caption in a            */
/* <figcaption class="figure-caption"> if present. These additional    */
/* styles ensure the caption doesn't exceed the width of the image.    */

.figure {
  display: table;
}

.figure-caption {
  display: table-caption;
  caption-side: bottom;
  margin-top: 0.5rem;
}

.figure-img {
  margin-bottom: 0;
}

figcaption[contenteditable=true]:empty:before {
  content: attr(data-placeholder);
  font-style: italic;
}

