// Lists
// -----------------------------------------------------------------------------

// ==============================
// Default Lists in Content Area
// ==============================

// Define our own default bullet style using FontAwesome icons

ul:not([class]):not([id]), ul.list-styled {
  padding-left: 0;

  & li {
    list-style: none;
    padding-left: 1.0em;
    margin-bottom: 0.3em;
  }
  & > li:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-left: -2.3em;
    width: 2.3em;
    color: #888;
    font-size: 0.42em;
    vertical-align: middle;
    margin-top: 1em;
    position: absolute;
    padding-top: 0.15em;
  }
}

ol:not([class]):not([id]) {
  padding-left: 1.0em;

  & li {
    margin-bottom: 0.3em;
  }
}

// Exceptions to default bullet style - note areas where
// we do NOT want the FontAwesome bullet icon

#mast, #dul-masthead-dul-megamenu, .item-list, .search-resources-wrapper {
  ul:not([class]):not([id]) {
    li {
      padding-left: 0;
      margin-bottom: 0.5em;
      &:before {
      content: normal;
      }
    }
  }
}

// ===========================
// Custom Spacing
// ===========================
ul, ol {
  &.spacing-none {
    li {
      margin-bottom: 0;
    }
  }
  &.spacing-sm {
    li {
      margin-bottom: 0.2em;
    }
  }
  &.spacing-md {
    li {
      margin-bottom: 0.6em;
    }
  }
  &.spacing-lg {
    li {
      margin-bottom: 1em;
    }
  }
  &.outdent {
    li {
      text-indent: -1.2em;
      padding-left: 1.2em;
    }
  }
}


// ===========================
// Custom Styled List Links
// ===========================
ul.pdflinks a {
  &:before {
      content: "\f1c1";
      font-family: "Font Awesome 5 Free";
      font-weight: 400;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      color: $copper;
      margin-right: 0.3em;
      text-decoration: none;
      &:hover {
       text-decoration: none;
      }
  }
}


// A few utility classes to split lists to columns w/simple CSS

ul, ol {
  &.columns-2 {
    column-count: 2;
  }

  &.columns-3 {
    column-count: 3;
  }

  &.columns-4 {
    column-count: 4;
  }
}
