#sidebar {
  @include media-breakpoint-up(md) {
    box-shadow: 1px 0 1px -1px rgba(0, 0, 0, 0.06),
                2px 0 2px -2px rgba(0, 0, 0, 0.06),
                4px 0 4px -4px rgba(0, 0, 0, 0.06),
                8px 0 8px -8px rgba(0, 0, 0, 0.06),
                16px 0 16px -16px rgba(0, 0, 0, 0.06);
  }

  .sidebar-logo {
    max-width: 12.5rem;
  }

  .sidebar-subtitle {
    border-bottom: .375rem solid #a1b70d;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .nav:not(.contextual-links) {
    display: block;
    a.nav-link {
      padding: 0.5rem 1rem 0.5rem 0;
      font-weight: 600;
      line-height: 1.2em;
      &:not(:hover) {
        color: $dark;
      }
      &.is-active {
        border-left: .5rem solid $dandelion;
        margin-left: -1rem;
        padding-left: .5rem;
        background: $whisper-gray;
      }
    }
    & .nav { /* nested nav links */
      a.nav-link {
        font-weight: normal;
        font-size: 90%;
        padding-left: .5rem;
        &.is-active {
          padding-left: 1rem;
        }
      }
    }
  }

  .sidebar-extras svg {
    height: 1.4rem;
    width: 1.4rem;
    color: #666;
    float:left;
    margin-right: 0.2rem;
    &:hover {
      text-decoration: none;
      &.fa-twitter {
        color: #1da1f2;
      }
      &.fa-facebook {
       color: #4267b2;
      }
      &.fa-youtube {
       color: #ff0000;
      }
      &.fa-flickr {
        color: #ec0f80;
      }
      &.fa-instagram {
        color: #7324c2;
      }
      &.fa-rss-square {
        color: #e27800;
      }
    }
  }

  /* Sidebar Hours */
  .hours-row {
    .day {
      display: none;
    }
    .hours {
      float: none !important;
      font-weight: normal !important;
    }
  }


  @include media-breakpoint-up(lg) {
    padding-right: 28px;
  }
}

