/* ========================== *
/* Rubenstein Homepage Styles */
/* ========================== */

.rl-menu {
  h1 {
    font-size: 35px;
    line-height: 2.4rem;
    max-width: 600px;
    img.rl-logo-banner {
      filter: invert(75%);
      height: 75px;
    }
  }
  .imgback {
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    background-size: cover;
    width: 512px;
    right: 0;
    @include media-breakpoint-down(lg) {
      width: 350px;
    }
    &.imgback-shadow {
      clip-path: polygon(50px 0, 70px 0, 20px 100%, 0 100%);
      z-index: 131;
      box-shadow: -30px 30px -30px 30px;
      background-color: #eee;
      opacity: 0.8;
    }
    &.imgback-image {
      background-position: 50% 50%;
      clip-path: polygon(50px 0, 550px 0, 100% 100%, 0 100%);
      z-index: 130;
      background-color: #ddd;
    }
  }
  .navbar {
    border-bottom: 6px solid $piedmont;
  }
}

ul.rl-collections {
  font-weight: 600;
  line-height: 1.3rem;
}

/* NOTE: use a general img class img-fixed-height-250px  */
/* once we have added a module to be able to add classes */
/* to img elements in Views. */
.rl-home-exhibit-slider {
  img {
    height: 250px !important;
    object-fit: cover;
  }
}

